body {
    font-family: fantasy, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: wheat;
    background-image: url("./images/blackjack-background.jpeg");
    text-align: center;
}

img {
    width: 70px;
    height: 90px;
}

button {
    cursor: pointer;
    width: 120px;
    height: 35px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: orange;
    color: white;
    opacity: 0.9;
}

button:hover {
    border: 2px solid white;
    font-weight: bold;
    opacity: 1;
}

.container {
    height: 400px;
    min-width: 390px;
    max-width: 33%;
    background-color: rgb(14, 121, 14);
    opacity: 0.95;
    padding: 10px;
    margin: 25px auto;
    border-radius: 3px;
    display: grid;
    grid-template: 3fr 1fr 3fr / 2fr 1fr 2fr;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px 0;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    justify-content: center;
    column-gap: 5px;
}

.game-buttons {
    margin-bottom: 10px;
}

#house-cards {
    grid-area: 1 / 2 / span 1 / span 1;
    visibility: hidden;
}

#player-cards {
    align-items: end;
    grid-area: 3 / 2 / span 1 / span 1;
    visibility: hidden;
}

#message {
    display: grid;
    align-content: center;
    visibility: hidden;
    grid-area: 2 / 1 / span 1 / span 3;
    font-size: larger;
}

#hit, #stand {
    visibility: hidden;
}